
<div style="width:50%">
  <h2>Digite a lista de Pais-1 (separados por ;): </h2>
  <textarea cols="80" rows="10" [(ngModel)]="paiUmString" > </textarea>
</div>
<!-- 
<div style="width:50%">
  <h2>Digite a lista de Pais-2 (separados por ;): </h2>
  <textarea cols="80" rows="10" [(ngModel)]="paiDoisString" > </textarea>
</div>

<div style="width:50%">
  <h2>Digite a lista de F1 (separados por ;): </h2>
  <textarea cols="80" rows="10" [(ngModel)]="fUmString" > </textarea>
</div>

<div style="width:50%">
  <h2>Digite a lista de F2 (separados por ;): </h2>
  <textarea cols="80" rows="10" [(ngModel)]="fDoisString" > </textarea>
</div> -->

<br/><br/><br/>

  <button (click)="calcular()" class = "btn btn-primary"> Calcular </button>
